In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab
import matplotlib as mpl
from scipy.stats import norm

# 中文乱码的处理
plt.rcParams['font.sans-serif'] = ['Microsoft YaHei']# 设置微软雅黑字体
plt.rcParams['axes.unicode_minus'] = False # 避免坐标轴不能正常的显示负号

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
# from xgboost import XGBRegressor

# Road the data
X_full = pd.read_csv('./data/train.csv')
X_test_full = pd.read_csv('./data/test.csv')
sub = pd.read_csv('./data/sub.csv')
print(X_full.shape, X_test_full.shape)
#$$

(59288, 26) (14823, 25)

In [3]:
# X_full.head();
X_full.columns

Index(['数据ID', '容纳人数', '便利设施', '洗手间数量', '床的数量', '床的类型', '卧室数量', '取消条款', '所在城市',
       '清洁费', '首次评论日期', '房主是否有个人资料图片', '房主身份是否验证', '房主回复率', '何时成为房主',
       '是否支持随即预订', '最近评论日期', '维度', '经度', '民宿周边', '评论个数', '房产类型', '民宿评分', '房型',
       '邮编', '价格'],
      dtype='object')

In [4]:
import re
words = [re.findall("\w+",  str) for str in X_full.便利设施]

In [5]:
#

add new col, count for bianlisheshi

In [6]:
X_full['new'] = 1
for i in range(0, len(X_full)):
    X_full.loc[i,'new'] = len((X_full.便利设施[i]).split())

In [7]:
X_full['new_len'] = 1
for i in range(0, len(X_full)):
    X_full.loc[i,'new_len'] = len((X_full.便利设施[i]))

In [8]:
#

check na

In [9]:
# na_index = [X_full[col].isnull().values.sum() for col in X_full.columns]
# na_key = X_full.columns
# na_frame = pd.DataFrame(na_index, na_key)

Cat and Num split

In [10]:
X_full = X_full.drop('数据ID', axis = 1)

In [11]:
categorical_cols = [cname for cname in X_full.columns if 
X_full[cname].dtype == 'object']

# Select numerical columns
numerical_cols = [cname for cname in X_full.columns if
                  X_full[cname].dtype in ['float64', 'int64']]

In [12]:
categorical_cols

['便利设施',
 '首次评论日期',
 '房主是否有个人资料图片',
 '房主身份是否验证',
 '房主回复率',
 '何时成为房主',
 '最近评论日期',
 '民宿周边',
 '邮编']

In [42]:
X_full['首次评论日期'] = X_full['首次评论日期'].astype(str)
X_full['何时成为房主'] = X_full['何时成为房主'].astype(str)
X_full['最近评论日期'] = X_full['最近评论日期'].astype(str)

In [22]:
# 
X_full['首次评论日期'] = [re.findall("^\d{4}\-\d{2}", str) for str in X_full.首次评论日期]
X_full['何时成为房主'] = [re.findall("^\d{4}\-\d{2}", str) for str in X_full.何时成为房主]
X_full['最近评论日期'] = [re.findall("^\d{4}\-\d{2}", str) for str in X_full.最近评论日期]

In [56]:
X_full['首次评论日期_new'] = [i.strip("['']") for i in X_full.首次评论日期.to_list()]
X_full['何时成为房主_new'] = [i.strip("['']") for i in X_full.何时成为房主.to_list()]
X_full['最近评论日期_new'] = [i.strip("['']") for i in X_full.最近评论日期.to_list()]

In [95]:
# [isna(i) for i in X_full.房主回复率]
X_full['房主回复率_new'] = X_full.房主回复率.isnull()

In [96]:
X_full['房主回复率_new']

0         True
1         True
2        False
3         True
4        False
         ...
59283    False
59284    False
59285    False
59286    False
59287    False
Name: 房主回复率_new, Length: 59288, dtype: bool

 ---

In [13]:
# X_full.首次评论日期 = [str(i) for i in X_full.首次评论日期]
# X_full.首次评论日期 = (re.findall("^\d{4}\-\d{2}", str) for str in X_full.首次评论日期)

In [36]:
# test_df['Season'] = test_df['ID'].map(lambda x: int(x[:4]))

In [38]:
# X_full['bnenwne'] = X_full['new'].map(lambda x: str(x)[:1])

#--------------------------------------------
drop

In [99]:
X_train = X_full.drop(['便利设施', '最近评论日期', '何时成为房主', '首次评论日期', '房主回复率'], axis = 1)

In [106]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [108]:
y = X_train['价格']
X_train.pop('价格')

0        64.918531
1        54.918531
2        73.219281
3        64.093909
4        68.454901
           ...
59283    57.813597
59284    62.288187
59285    73.128830
59286    62.854022
59287    64.093909
Name: 价格, Length: 59288, dtype: float64

In [112]:
X_train.columns

Index(['容纳人数', '洗手间数量', '床的数量', '床的类型', '卧室数量', '取消条款', '所在城市', '清洁费',
       '房主是否有个人资料图片', '房主身份是否验证', '是否支持随即预订', '维度', '经度', '民宿周边', '评论个数',
       '房产类型', '民宿评分', '房型', '邮编', 'new', 'new_len', '首次评论日期_new',
       '何时成为房主_new', '最近评论日期_new', '房主回复率_new'],
      dtype='object')

In [113]:
transformers_1 = SimpleImputer(strategy='most_frequent')

In [114]:
X_train_new = transformers_1.fit_transform(X_train)

In [117]:
X_train_new = pd.DataFrame(X_train_new)

In [120]:
X_train_new.to_csv("./train_data.csv", index=False)
y.to_csv("./target.csv", index = False)

---

cat one hot

In [186]:
cat_col = [5,7,8,9,10,13,17,18,21,22,23,24]

In [187]:
# X_train_new.columns #RangeIndex(start=0, stop=25, step=1)

In [188]:
num_col = list(set(np.arange(0,25)) - set(cat_col))

In [189]:
train_cat_frame = X_train_new[cat_col]

In [213]:
X_train_new[num_col]

      0    1    2  3    4  6          11          12  14  15     16  19   20
0      4  1.5  3.0  4  2.0  3  34.109039  -118.27339  12  17   97.0  15  276
1      2  1.0  1.0  4  1.0  4  40.812897  -73.919163   6   0   87.0  16  279
2      4  1.0  2.0  4  0.0  4  40.737643  -73.953309   4   0   80.0   9  145
3      2  1.0  1.0  4  1.0  5  37.759935 -122.420558   0   0  100.0   1    2
4      3  1.0  1.0  4  1.0  4  40.683363   -73.94949  16   0   99.0  15  264
...   ..  ...  ... ..  ... ..        ...         ...  ..  ..    ...  ..  ...
59283  2  1.5  1.0  4  1.0  3  34.094867 -118.292013   1   0  100.0  14  249
59284  1  1.0  1.0  4  1.0  3  34.150509 -118.787469   2  17   90.0  15  227
59285  5  2.0  2.0  4  2.0  3  34.087073 -118.336914  20  17   91.0  16  249
59286  2  1.0  1.0  4  1.0  4  40.771579  -73.957856   0   0  100.0  16  292
59287  2  1.0  1.0  4  1.0  3  34.065592 -118.252486   3   0  100.0  27  440

[59288 rows x 13 columns]

In [214]:
train_cat_frame

,5,7,8,9,10,13,17,18,21,22,23,24
0,0,0,t,t,0,Los Feliz,0,90027,2015-05,2015-02,2016-06,True
1,2,1,t,t,1,Mott Haven,0,10454,2016-07,2009-10,2016-07,True
2,2,1,t,f,1,Greenpoint,0,11222,2017-07,2017-06,2017-07,False
3,0,1,t,t,0,Mission District,1,94110,,2013-03,,True
4,1,1,t,t,0,Bedford-Stuyvesant,0,11216,2014-04,2011-07,2016-05,False
...,...,...,...,...,...,...,...,...,...,...,...,...
59283,2,1,t,f,0,East Hollywood,1,90029,2016-12,2012-06,2016-12,False
59284,0,1,t,f,0,Williamsburg,1,91301,2015-05,2012-08,2016-09,False
59285,2,1,t,t,0,Hollywood,0,90038,2016-01,2012-06,2017-03,False
59286,2,1,t,t,0,Upper East Side,1,10021,,2011-03,,False
59287,0,0,t,t,0,Echo Park,1,90012,2016-10,2015-05,2017-02,False

In [192]:
num_col

[0, 1, 2, 3, 4, 6, 11, 12, 14, 15, 16, 19, 20]

In [210]:
train_num_frame = [X_train_new[i].astype(float) for i in num_col]

In [211]:
train_num_frame = pd.DataFrame(train_num_frame)

In [204]:
# train_frame_fin = train_cat_frame.append(train_num_frame,ignore_index=True)
train_frame_fin = pd.concat([train_num_frame, train_cat_frame], axis=1)

In [206]:
categorical_cols = [cname for cname in train_frame_fin.columns if 
train_frame_fin[cname].dtype == 'object']

# Select numerical columns
numerical_cols = [cname for cname in train_frame_fin.columns if
                  train_frame_fin[cname].dtype in ['float64', 'int64']]

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [212]:
train_num_frame

,0,1,2,3,4,5,6,7,8,9,...,59278,59279,59280,59281,59282,59283,59284,59285,59286,59287
0,4.000000,2.000000,4.000000,2.000000,3.000000,5.000000,2.000000,1.000000,3.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,8.000000,2.000000,1.000000,5.000000,2.000000,2.000000
1,1.500000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.500000,1.000000,1.000000,1.000000,2.000000,1.500000,1.000000,2.000000,1.000000,1.000000
2,3.000000,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000,1.000000,2.000000,1.000000,1.000000
3,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
4,2.000000,1.000000,0.000000,1.000000,1.000000,3.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,0.000000,1.000000,3.000000,1.000000,1.000000,2.000000,1.000000,1.000000
6,3.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,4.000000,0.000000,4.000000,...,3.000000,4.000000,3.000000,1.000000,3.000000,3.000000,3.000000,3.000000,4.000000,3.000000
11,34.109039,40.812897,40.737643,37.759935,40.683363,40.714336,40.756672,40.772482,42.376112,40.712308,...,34.105658,40.763709,34.076331,41.974979,33.340521,34.094867,34.150509,34.087073,40.771579,34.065592
12,-118.273390,-73.919163,-73.953309,-122.420558,-73.949490,-73.960847,-73.964642,-73.981084,-71.050181,-73.992568,...,-118.196030,-73.985033,-118.256077,-87.665630,-118.326444,-118.292013,-118.787469,-118.336914,-73.957856,-118.252486
14,12.000000,6.000000,4.000000,0.000000,16.000000,4.000000,113.000000,3.000000,32.000000,51.000000,...,2.000000,41.000000,97.000000,3.000000,3.000000,1.000000,2.000000,20.000000,0.000000,3.000000
15,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,11.000000,0.000000,...,17.000000,0.000000,0.000000,11.000000,17.000000,0.000000,17.000000,17.000000,0.000000,0.000000
16,97.000000,87.000000,80.000000,100.000000,99.000000,100.000000,96.000000,100.000000,92.000000,95.000000,...,100.000000,93.000000,94.000000,100.000000,93.000000,100.000000,90.000000,91.000000,100.000000,100.000000
19,15.000000,16.000000,9.000000,1.000000,15.000000,8.000000,12.000000,13.000000,13.000000,15.000000,...,23.000000,19.000000,17.000000,11.000000,13.000000,14.000000,15.000000,16.000000,16.000000,27.000000
20,276.000000,279.000000,145.000000,2.000000,264.000000,166.000000,248.000000,309.000000,252.000000,321.000000,...,322.000000,357.000000,356.000000,238.000000,265.000000,249.000000,227.000000,249.000000,292.000000,440.000000

In [ ]:

numerical_transformer = SimpleImputer(strategy='most_frequent')

# Preprocessing for categorical data
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Bundle preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
    ])

In [ ]:
# from sklearn.model_selection import train_test_split
# X_train_full, X_valid_full, y_train, y_valid = 
# train_test_split(X_full, y, train_size=0.8, test_size=0.2, random_state=0)

In [122]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestRegressor
from scipy.stats import randint as sp_randint

In [ ]:
# my_reg = RandomForestRegressor()
# scores = -1 * cross_val_score(my_reg, 
#     X_train_new, y,
#     cv=5, n_jobs = -1,
#     scoring='neg_root_mean_squared_error')

# print("MAE scores:\n", scores)
# print("Average MAE score (across experiments):")
# print(scores.mean())

In [ ]:
hp = {"max_depth": [14, 11, 9],
              "min_samples_split": sp_randint(2, 11)
            #   "criterion": ["gini", "entropy"],
            #   "bootstrap": [True, False]
              }

# run randomized search
n_iter_search = 10
random_search = RandomizedSearchCV(my_reg, param_distributions=hp,
                                   n_iter=n_iter_search, cv=5)

In [ ]:
 
#% Initial Models
# from sklearn.ensemble import RandomForestRegressor
# import lightgbm as lgb

RFReg = RandomForestRegressor(n_estimators = 10, criterion = "mse", max_depth = 10, n_jobs = -1, random_state = 0).fit(X_train_new, y)

test data

In [ ]:
X_test_full['new'] = 1
for i in range(0, len(X_test_full)):
    X_test_full.loc[i,'new'] = len((X_test_full.便利设施[i]).split())

In [ ]:
X_test_full['new_len'] = 1
for i in range(0, len(X_test_full)):
    X_test_full.loc[i,'new_len'] = len((X_test_full.便利设施[i]))

In [ ]:
X_test_full = X_test_full.drop('数据ID', axis = 1)

In [ ]:
categorical_cols = [cname for cname in X_test_full.columns if 
X_test_full[cname].dtype == 'object']

# Select numerical columns
numerical_cols = [cname for cname in X_test_full.columns if
                  X_test_full[cname].dtype in ['float64', 'int64']]

In [ ]:
# y = X_test_full['价格']
# X_test_full.pop('价格')

In [ ]:
X_test_new = preprocessor.transform(X_test_full)

In [ ]:
predicted_ = RFReg.predict(X_test_new)

In [ ]:
X_test_new